.layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 4rem;
}

.column {
  width: 100%;
}

.picture {
  max-width: 100%;  
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 2.25rem;
}

.header  {
  width: 100%;
}

.heading {
  font-family: var(--font-family);
  font-variant: small-caps;
  font-size: var(--secondary-header-font-size);
  font-weight: 400;
  line-height: var(--secondary-header-line-height);
  letter-spacing: var(--secondary-header-letter-spacing);
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bodyText {
  font-family: var(--font-family-body);
  font-size: var(--body-font-size);
  font-variant: normal;
  font-weight: 300;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin: 0;
  text-align: left;
  text-indent: 1rem;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: stretch;;
  flex-direction: column;
  width: 100%;
}

.from {
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--body-font-size);
  font-variant: small-caps;
  font-weight: 300;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.signature {
  display: block;
  font-family: var(--font-family-script);
  font-size: var(--script-font-size);
  font-variant: normal;
  font-weight: 300;
  letter-spacing: var(--script-letter-spacing);
  line-height: var(--script-line-height);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
  width: 100%;
}

.button {
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  height: 3rem;
  margin: 0;
  padding: 0;
  transition: background-color 250ms ease-in-out;
  width: 100%;
}

.contributeButton { 
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.contributeButton:hover, .contributeButton:active {
  background-color: var(--white);
  color: var(--black);
}

.donateButton {
  align-items: center;
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.donateButton:hover, .donateButton:active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.donateIcon {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  height: 2.25rem;
}

.paypalIcon {
  left: 0.75rem;
}

.buttonText {
  font-family: var(--font-family-sans);
  font-size: var(--button-font-size);
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  text-decoration: none;
}
