.buttons {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
  width: 100%;
}

.button {
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  height: 3rem;
  margin: 0;
  padding: 0;
  transition: background-color 100ms ease-in-out;
  width: 100%;
}

.initialButton { 
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.initialButton:hover, .initialButton:active {
  background-color: var(--white);
  color: var(--black);
}

.expandedButton {
  align-items: center;
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.expandedButton:hover, .expandedButton:active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.expandedButtonIcon {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  height: 2.25rem;
}

.buttonText {
  font-family: var(--font-family-sans);
  font-size: var(--button-font-size);
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  text-decoration: none;
}
