@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  --header-font-size: 10rem;
  --header-letter-space: 1.5rem;
  --header-line-height: 1;

  --body-font-size: 3rem;
  --body-letter-space: 1rem;
  --body-line-height: 1;

  --pre-font-size: 1.5rem;
  --pre-letter-spacing: 0.5rem;
  --pre-line-height: 1.5;

  --border-radius: 0.5rem;

  --font-family: 'Noto Serif Display', serif;

  --white: #F0F0F0;
  --black: #131313;

  background-color: var(--white);
  margin: 0;
  border: 0;
  padding: 0;
}

.force-hardware-acceleration {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.clip {
  contain: paint;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  clip: rect(0px, auto, auto, 0px);
}

.app {
  height: auto;
  opacity: 1;

  transition-duration: 1500ms;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.appLoading {
  height: 100vh;
  overflow: hidden;
  opacity: 0;
}

@media only screen and (max-width: 768px),
  only screen and (max-height: 800px)  {
  html, body {
    --header-font-size: 8rem;
    --header-letter-space: 1rem;
    --body-font-size: 2rem;
    --body-letter-space: 0.5rem;
    --pre-font-size: 1rem;
    --pre-letter-spacing: 0.25rem;
    --pre-line-height: 2;
  }
}
