.page {
  height: auto;
  opacity: 1;

  transition-duration: 1500ms;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.pageLoading {
  height: 100vh;
  overflow: hidden;
  opacity: 0;
}

