.section {
  position: relative;

  background-color: var(--black);

  display: flex;
  align-items: center;
  flex-direction: column;

  height: var(--section-height);
  width: 100%;
}

.headerContainer {
  position: absolute;
  height: calc(100% + 100vh);

  margin-top: -100vh;
}

.headerContent {
  position: sticky;
  top: 0;

  --vertical-padding: calc(20vh - var(--pre-font-size) - 5rem);

  height: 100vh;
  box-sizing: border-box;

  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}

.front {
  height: 100%;
}

.back {
  position: absolute;
  right: 0;
  top: var(--vertical-padding);
  bottom: var(--vertical-padding);

  width: 100%;

  transform: rotateY(180deg);

  background-color: var(--white);
}

.front, .back {
  backface-visibility: hidden;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 250ms;

  max-height: 55rem;
  box-sizing: border-box;

  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;

  border-radius: 3rem;
  box-shadow: 0 0 3rem #333;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.frontContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
}

.frontSpacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.frontRotated {
  transform: rotateY(180deg);
  /*animation: frontFlip 1s forwards linear;*/
}

.backRotated {
  transform: rotateY(0deg);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textFront {
  color: var(--white);
  text-align: center;
}

.preAboveDate {
  color: #999;
  font-family: sans-serif;
  line-height: 1;
}

.pre {
  color: #999;
  font-family: sans-serif;
  line-height: 1.5;
}

.body {
  margin: 0;
}

.buttonFront {
  border-color: var(--white);
  color: var(--white);
}

.buttonFront:hover {
  background-color: var(--white);
  color: var(--black);
}

.rsvp {
  color: var(--black);
  padding-bottom: 3rem;
}

@media only screen and (max-width: 768px),
  only screen and (max-height: 800px) {
  .headerContainer {
    width: 100%;
  }
  .headerContent {
    width: 100%;
  }
  .front, .back {
    border-radius: 0;
    box-shadow: none;
  }
  .front {
    padding-left: 0px;
    padding-right: 0px;
  }
  .back {
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0;
    bottom: 0;
  }
  .rsvp {
    padding-bottom: 1rem;
  }
}
